Initial notes...
- Auto-update 4258
- Auto-update 7181
- Auto-update 8383
aiohttp==2.6.9
requests==2.2.9
pydantic==1.5.2
pydantic==1.2.9
pydantic==2.7.0
requests==0.4.6
eth-abi==1.4.6
pydantic==1.8.6
pydantic==2.4.7
pydantic==2.5.2
aiohttp==2.7.9
requests==2.6.9
eth-abi==2.9.8
requests==0.3.5
aiohttp==2.1.8
